<header class="app app-header">
  <h1>Todo App</h1>
  <span>An application to list your to-do</span>
</header>
<body>
  <router-outlet class="app-body"></router-outlet>
  <footer class="app app-footer">
    <a href="https://github.com/" target="_blank">
      <span
        class="iconify"
        style="color: black"
        data-icon="codicon:github"
        data-width="50"
        data-height="50"
      ></span>
    </a>
    <p class="copyright text-muted">Copyright &copy; Todo App 2021</p>
  </footer>
</body>
